<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/modal.css' />
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <title>Main Page</title>
</head>
<body>
    <button id="cargo">화물등록</button>
    <button id='delcargo'>화물 등록 취소</button>
    <button id='callcargo'>운송 내역 조회</button>
    <button id='token' ><a href='/token'>토큰 구매</a></button>


    <!-- Enroll Cargo -->
    <div id="cargoModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <form name="form" id="form">
        <p>상차지: <input type='text' name='startpoint' id='startpoint' value=''><input type="button" onClick="goPopup();" value="검색"/></p>
        <p>하차지: <input type='text' name='endpoint' id='endpoint' value=''><input type="button" onClick="goPopup();" value="검색"/></p>
        <p>톤 수 : <input type='text' name='carweight' id='carweight' value=''></p>
        <p>적재중량: <input type='text' name='weight' id='weight' value=''></p>
        <p>운행방법: <input type='text' name='transport' id='transport' value=''></p>
        <p>운송비: <input type='text' name='cost' id='cost' value=''></p>
        <button type='button' id='regcargo'>화물 등록</button>
      </form>
      </div>
    </div>

    <!-- Delete Cargo -->
    <div id="delcargoModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        
      </div>
    </div>

</body>
<script>
  function goPopup(){
	// 주소검색을 수행할 팝업 페이지를 호출합니다.
	// 호출된 페이지(jusopopup.jsp)에서 실제 주소검색URL(http://www.juso.go.kr/addrlink/addrLinkUrl.do)를 호출하게 됩니다.
	  var pop = window.open("/components/jusoPopup","pop","width=570,height=420, scrollbars=yes, resizable=yes"); 
	
	// 모바일 웹인 경우, 호출된 페이지(jusopopup.jsp)에서 실제 주소검색URL(http://www.juso.go.kr/addrlink/addrMobileLinkUrl.do)를 호출하게 됩니다.
    //var pop = window.open("/popup/jusoPopup.jsp","pop","scrollbars=yes, resizable=yes"); 
  }
  function jusoCallBack(data){
    console.log(typeof(data))
    document.form.startpoint.value = data;
  }


  $('#regcargo').click( async () => {
    var startpoint = document.getElementById('startpoint').value;
    var endpoint = document.getElementById('endpoint').value;
    var carweight = document.getElementById('carweight').value;
    var weight = document.getElementById('weight').value;
    var transport = document.getElementById('transport').value;
    var cost = document.getElementById('cost').value;
  
    try {
      const response = await fetch('http://localhost:3000/regcargo', {
        method: 'post',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({startpoint: startpoint, endpoint: endpoint, carweight: carweight, weight: weight, transport: transport, cost: cost})
      });

      if(response.ok) {
        window.alert('Cargo Registration Completed');

      } else {
        window.alert('Cargo Registration Failed');
      }
    } catch (err) {
      console.log(err);
    }
  });

  $('#delcargo').click( async () => {
    try {
      const response = await fetch('http://localhost:3000/delcargo', {
        method: 'post',
        headers: {
          'Content-Type' : 'application/json',
        },
        
      })
      if(response.ok) {
        const json = await response.json();
        console.log(json[0]);
      }
    } catch (err) {
      console.log(err);
    }
  });

</script>
<%- include ../public/javascripts/modal.ejs %>
</html>